pipeline/child_pipeline_for_race.json
{
	"name": "child_pipeline_for_race",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.list_year",
						"type": "Expression"
					},
					"batchCount": 25,
					"activities": [
						{
							"name": "season",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "round",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_race_result",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "round",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "season",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_race_result",
									"type": "DatasetReference",
									"parameters": {
										"ds_season": {
											"value": "@variables('season')",
											"type": "Expression"
										},
										"ds_round": {
											"value": "@variables('round')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_raceResult",
									"type": "DatasetReference",
									"parameters": {
										"directory_path": {
											"value": "@concat('bronze','/',variables('result_file_name'),'/',formatDateTime(utcnow(),'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"file_path": {
											"value": "@concat(item().season,'.',item().round)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"list_year": {
				"type": "array"
			}
		},
		"variables": {
			"round": {
				"type": "String"
			},
			"season": {
				"type": "String"
			},
			"result_file_name": {
				"type": "String",
				"defaultValue": "raceResult"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-12T21:29:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}