pipeline/pipeline22.json
{
	"name": "pipeline22",
	"properties": {
		"activities": [
			{
				"name": "JoinVar1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "String1",
					"value": {
						"value": "@join(variables('Array1'),';')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "JoinVar2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "String2",
					"value": {
						"value": "@join(variables('Array2'),';')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ConcatVars",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "JoinVar1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "JoinVar2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ConcatString3",
					"value": {
						"value": "@concat(variables('String1'),';',variables('String2'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SplitVar",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ConcatVars",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MergedArray3",
					"value": {
						"value": "@split(variables('ConcatString3'),';' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Final",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FinalArray",
					"value": {
						"value": "@split(concat(join(variables('Array1'),';'),';',join(variables('Array2'),';')),';' )",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Array1": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			},
			"Array2": {
				"type": "Array",
				"defaultValue": [
					8,
					7,
					3,
					4
				]
			},
			"String1": {
				"type": "String"
			},
			"String2": {
				"type": "String"
			},
			"ConcatString3": {
				"type": "String"
			},
			"MergedArray3": {
				"type": "Array"
			},
			"FinalArray": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-26T10:24:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}